@page
@model IndexModel
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Conversor de Unidades Universal</h1>
    <p class="lead mt-3">Selecione o tipo de conversão que deseja realizar.</p>
    
    <div class="d-grid gap-3 col-6 mx-auto mt-5">
        <a class="btn btn-primary btn-lg" href="/Comprimento">Conversor de Comprimento</a>
        <a class="btn btn-success btn-lg" href="/Peso">Conversor de Peso</a>
        <a class="btn btn-warning btn-lg" href="/Temperatura">Conversor de Temperatura</a>
    </div>
</div>
